@tailwind base;
@tailwind components;
@tailwind utilities;


.hamburger-top, .hamburger-middle, .hamburger-bottom {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #2D314D;
  cursor: pointer;
} 

.hamburger-middle{
  transform: translateY(7px);
}

.hamburger-bottom{
  transform: translateY(14px);
}